@import "tailwindcss";

/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/kumbh-sans-v27-latin-regular.woff2") format("woff2");
}
/* kumbh-bold */
@font-face {
  font-display: swap;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/kumbh-sans-v27-latin-700.woff2") format("woff2");
}
/* roboto-slab-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-slab-v36-latin-regular.woff2") format("woff2");
}
/* roboto-slab-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto-slab-v36-latin-700.woff2") format("woff2");
}
/* space-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/space-mono-v17-latin-regular.woff2") format("woff2");
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/space-mono-v17-latin-700.woff2") format("woff2");
}

@theme {
  /* Colors COLLECTION */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-cyan-300: #70f3f8;
  --color-red-400: #f87070;
  --color-purple-400: #d881f8;
  --color-grey-200: #e3e1e1;
  --color-grey-400: #bbbdcb;
  --color-blue-50: #eff1fa;
  --color-blue-100: #d7e0ff;
  --color-blue-850: #1e213f;
  --color-blue-900: #161932;
  --color-blue-950: #14172e;
}

:root {
  --app-font: "Kumbh Sans", sans-serif;
  --app-color: var(--color-red-400);
}
/* text-presets */
/*Font-1*/
[data-font="kumbh-sans"] .text-preset-1 {
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-size: 5rem;
  line-height: 125%;
  letter-spacing: -0.001em;
}
[data-font="kumbh-sans"] .text-preset-2 {
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 120%;
  letter-spacing: 0.9285em;
}
[data-font="kumbh-sans"] .text-preset-3 {
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 125%;
  letter-spacing: 0em;
}
/* Font-1 - Settings */
.text-preset-1-settings {
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 125%;
  letter-spacing: 0em;
}
.text-preset-4-settings {
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 125%;
  letter-spacing: 0em;
}
.text-preset-2-settings {
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 145%;
  letter-spacing: 0em;
}
[data-font="kumbh-sans"] .text-preset-3-settings {
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 125%;
  letter-spacing: 0.38em;
}
/*Font 2*/
[data-font="roboto-slab"] .text-preset-1 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 5rem;
  line-height: 133%;
  letter-spacing: 0em;
}
[data-font="roboto-slab"] .text-preset-2 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 130%;
  letter-spacing: 0.9285em;
}
[data-font="roboto-slab"] .text-preset-3 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 133%;
  letter-spacing: 0em;
}
/*Font 2 - Settings*/
[data-font="roboto-slab"] .text-preset-2-settings {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 1rem;
  line-height: 125%;
  letter-spacing: 0em;
}
/*Font 3*/
[data-font="space-mono"] .text-preset-1 {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  letter-spacing: -0.125em;
}
[data-font="space-mono"] .text-preset-2 {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0.9285em;
}
[data-font="space-mono"] .text-preset-3 {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: 0em;
}
/*Font 3 - Settings */
[data-font="space-mono"] .text-preset-2-settings {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 1rem;
  line-height: 125%;
  letter-spacing: 0em;
}

/* Custom css */
.timer-bg {
  background: linear-gradient(to left, #2e325a, #0e112a);
  box-shadow: 0rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: -3.125rem -3.125rem 6.25rem 0 #272c5a;
  box-shadow: 3.125rem 3.125rem 6.25rem 0 #121530;
}
dialog:not([open]) {
  display: none;
}
.header-title {
  font-family: Kumbh Sans;
  font-size: 1.5rem;
  font-weight: 700;
}

.button-settings:hover {
  filter: brightness(250);
  cursor: pointer;
  transform: scale(1.05);
}

.fonts-radio {
  position: relative;
}

/* cercle */
.fonts-radio::after {
  content: "";
  position: absolute;
  border-radius: 9999px;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1px solid var(--color-blue-50);

  opacity: 0;
  transition: opacity 0.2s ease;
}

/* hover */
.fonts-radio:hover::after {
  opacity: 1;
}

/* focus clavier */
.fonts-radio:focus-within::after {
  opacity: 1;
}

/* active click */
.fonts-radio:active::after {
  opacity: 1;
}

@media (min-width: 1280px) {
  .header-title {
    font-size: 2rem;
  }
  [data-font="kumbh-sans"] .text-preset-1 {
    font-family: "Kumbh Sans";
    font-weight: 700;
    font-size: 6.25rem;
    line-height: 125%;
    letter-spacing: -0.05em;
  }

  [data-font="kumbh-sans"] .text-preset-2 {
    font-family: "Kumbh Sans";
    font-weight: 700;
    font-size: 1rem;
    line-height: 125%;
    letter-spacing: 0.9375em;
  }

  [data-font="kumbh-sans"] .text-preset-3 {
    font-family: "Kumbh Sans";
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 120%;
    letter-spacing: 0em;
  }

  [data-font="roboto-slab"] .text-preset-1 {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 6.25rem;
    line-height: 130%;
    letter-spacing: 0em;
  }

  [data-font="roboto-slab"] .text-preset-2 {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 1rem;
    line-height: 125%;
    letter-spacing: 0.9375em;
  }

  [data-font="roboto-slab"] .text-preset-3 {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 130%;
    letter-spacing: 0em;
  }

  [data-font="space-mono"] .text-preset-1 {
    font-family: "Space Mono";
    font-weight: 400;
    font-size: 6.25rem;
    line-height: 150%;
    letter-spacing: -0.1em;
  }

  [data-font="space-mono"] .text-preset-2 {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.9375em;
  }

  [data-font="space-mono"] .text-preset-3 {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 145%;
    letter-spacing: 0em;
  }
}
